body {
    background-color: black;
}

h1 {
    color: aliceblue;
    font-size: 1.7rem;
}

h3 {
    color: aliceblue;
}

input{
    height: 20px;
    width: 95px;
}


.fila1 button{
    height: 40px;
    width: 50px;
    font-weight: bold;
    font-size: 1.5rem;
}

.fila2 button{
    height: 40px;
    width: 105px;
    font-weight: bold;
    font-size: 0.9rem;
}

.fila3 button{
    height: 40px;
    width: 70px;
    font-weight: bold;
    font-size: 0.9rem;
}
